body {
  font-family: "Raleway", sans-serif !important;
  color: #444444;
  width: 100%;
  overflow: scroll;
}
#main {
  width: 100%;
  overflow: hidden;
}
p {
  font-family: "Raleway", sans-serif !important;
}

a {
  color: #2f3691;
  font-family: "Raleway", sans-serif !important;
  text-decoration: none;
}

a:hover {
  color: #2f3691;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
hr {
  color: #2f3691 !important;
  padding: 2px;
  width: 15%;
  text-align: center;
  border-radius: 30px;
}
.btn-custom {
  float: left;
  padding: 8px 30px 10px 30px;
  box-shadow: none !important;
  background: transparent;
  color: #2f3691;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
}
.btn-custom:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}
.btn-custom2 {
  float: left;
  padding: 8px 30px 10px 30px;
  box-shadow: none !important;
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
}
.btn-custom2:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}
.title-header {
  color: #2f3691;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-header:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #2f3691;
}

.title-header:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #2f3691;
}

.title-header span {
  color: #2f3691;
}
.title-header-content {
  color: #1b1e26;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-header-content:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #1b1e26;
}

.title-header-content:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #1b1e26;
}

.title-header-content span {
  color: #1b1e26;
}

.title-header3 {
  color: #fff;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
}

.title-header3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 140px;
  height: 1px;
  background-color: #fff;
}

.title-header3:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 3px;
  background-color: #fff;
}

.title-header3 span {
  color: #fff;
}

.description {
  color: #eee;
  text-align: center;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background: #fff;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header .logo a {
  color: #2f3691;
}

#header .logo img {
  max-height: 60px;
}
#header-content {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header-content.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  background: #fff;
}

#header-content .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
}

#header-content .logo a {
  color: #2f3691;
}

#header-content .logo img {
  max-height: 60px;
}

@media (max-width: 991px) {
  #header {
    padding: 12px 0;
  }
  #header-content {
    padding: 12px 0;
  }
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #2f3691;
}

.navbar .getstarted {
  padding: 10px 25px;
  margin-left: 30px;
  border-radius: 4px;
  line-height: 1;
  background-color: #ec2129;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #ec2129;
}

.navbar .getstarted:hover {
  background: #aa181d;
  color: #fff;
  border-color: #aa181d;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #2f3691;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

.mobile-nav-toggle {
  color: #000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle {
  color: #000;
  display: none !important;
}
@media only screen and (max-width: 600px) {
  .mobile-nav-toggle {
    color: #000;
    display: block !important;
  }
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(73, 80, 94, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: #5f687b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #2f3691;
}

.navbar-mobile .getstarted {
  color: #fff;
  margin: 15px;
  padding: 10px 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #2f3691;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

#hero {
  width: 100% !important;
  overflow: hidden;
  height: 100vh;
  background-image: url("../images/bg2.jpeg");
  background-size: cover;
  padding-top: 86px;
  background-position: fixed;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero h2 {
  color: #2f3691;
  margin: 10px 0 30px 0;
  font-size: 24px;
}
#hero p {
  color: #eee;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 10px 30px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #2f3691;
}

#hero .btn-get-started:hover {
  background: #23286e;
  box-shadow: 0 8px 28px #23286e;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero {
    height: auto;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero h2 {
    color: #fff !important;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

section {
  padding: 60px 0;
  width: 100%;
  overflow: hidden;
}

.section-bg {
  background-color: #fff;
  color: #575757;
}
.section-bg2 {
  background-color: #2f3691;
  color: #fff;
  width: 100%;
  overflow: hidden;
}
.section-bg3 {
  background-color: #f2f6f9;
  color: #575757 !important;
  width: 100%;
  overflow: hidden;
}
.section-bg4 {
  background-color: #ec2129;
  color: #fff;
  width: 100%;
  overflow: hidden;
}

.about .card {
  background: transparent;
  border: none !important;
  color: #575757;
}
.about .card h2 {
  font-weight: 700;
  margin-top: 30px;
  color: #2f3691;
}

.about .btn-about {
  float: left;
  padding: 8px 30px 10px 30px;
  background: transparent;
  box-shadow: none !important;
  color: #2f3691;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
}
.about .btn-about:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 116, 223, 0.45);
}

.about .card .title {
  position: relative;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #2f3691;
}

.about .card .title:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 140px;
  height: 1px;
  background-color: #2f3691;
}

.about .card .title:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 70px;
  width: 45px;
  height: 3px;
  background-color: #2f3691;
}

.about .card .title span {
  color: #2f3691;
}

.business .icon-box {
  width: 100%;
  height: 380px;
  text-align: center;
  border: 1px solid #fff;
  padding: 50px 30px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  color: #000;
}
.business .icon-box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  background: #f6fdf8e3;
}

.business .icon-box .icon {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.business .icon-box img {
  transition: ease-in-out 0.3s;
}

.business .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.business .icon-box h4 a {
  color: #5f687b;
  transition: ease-in-out 0.3s;
}

.business .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.business .icon-box:hover {
  border-color: #eaecef;
}

.business .icon-box:hover h4 a {
  color: #2f3691;
}

.business .btn-business {
  text-align: center;
  padding: 8px 30px 10px 30px;
  background: transparent;
  box-shadow: none !important;
  color: #2f3691;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
}
.business .btn-business:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ec2129;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.product-detail {
  color: #575757;
}
.product-detail .btn-product-detail {
  text-align: center;
  width: 100%;
  float: left;
  padding: 8px 30px 10px 30px;
  background: #2f3691;
  box-shadow: none !important;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
}
.product-detail .btn-product-detail:hover {
  background: #0d5bb4;
  color: #fff;
  border: 1px solid #0d5bb4;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}
.product .box {
  color: #272b36;
  width: 100%;
  height: auto;
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}

.product .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.product h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.product .price {
  font-size: 34px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.product .price sup {
  font-size: 15px;
  top: -15px;
  left: -3px;
}

.product .price span {
  color: #bababa;
  font-size: 13px;
  font-weight: 300;
}

.product img {
  padding: 30px 40px;
}

.product ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.product ul li {
  padding-bottom: 10px;
}

.product ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.product-list .btn-invitation {
  float: left;
  padding: 8px 30px 10px 30px;
  background: #2f3691;
  box-shadow: none !important;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
  width: 100%;
  text-align: center;
}
.product-list .btn-invitation:hover {
  background: #0c57ac;
  color: #fff;
  border: 1px solid #0c57ac;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}
.product-list .btn-invitation2 {
  float: left;
  padding: 8px 30px 10px 30px;
  background: #fff;
  box-shadow: none !important;
  color: #2f3691;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
}
.product-list .btn-invitation2:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}

.product-list h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}

.product-list p {
  color: #000;
  font-family: "Poppins", sans-serif;
}
.product-list h4 {
  color: #000;
  font-family: "Poppins", sans-serif;
}

.product-list .price sup {
  font-size: 15px;
  top: -15px;
  left: -3px;
}

.product-list .price span {
  color: #bababa;
  font-size: 13px;
  font-weight: 300;
}

.product-list img {
  padding: 30px 40px;
}

.product-list ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.product-list ul li {
  padding-bottom: 10px;
}

.product-list ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.invitation h1 {
  font-weight: 700;
  color: #2f3691;
  font-family: "Raleway", sans-serif !important;
}
.invitation h4 {
  color: #575757;
  font-family: "Raleway", sans-serif !important;
}
.invitation .btn-invitation {
  float: left;
  padding: 8px 30px 10px 30px;
  background: #ec2129;
  box-shadow: none !important;
  color: #fff;
  border: 1px solid #ec2129;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
  width: 100%;
  text-align: center;
}
.invitation .btn-invitation:hover {
  background: #aa181d;
  color: #fff;
  border: 1px solid #aa181d;
  border-radius: 5px;
}
.invitation .btn-invitation2 {
  float: left;
  padding: 8px 30px 10px 30px;
  background: #fff;
  box-shadow: none !important;
  color: #2f3691;
  border: 1px solid #2f3691;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 28px rgba(255, 255, 255, 0.45);
  transition: 0.5s;
}
.invitation .btn-invitation2:hover {
  background: #2f3691;
  color: #fff;
  border: 1px solid #2f3691;
  border-radius: 5px;
  box-shadow: 0 8px 28px rgba(22, 126, 223, 0.45);
}

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

.contact .info-box i {
  font-size: 32px;
  color: #2f3691;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.event {
  cursor: pointer;
  max-width: 440px;
  display: flex;
  flex-direction: column;
  background: transparent;
  color: #000;
  font-size: 15px;
  line-height: 1.25;
  padding: 10px;
  border-radius: 3px;
  transition: 0.3s ease;
  position: relative;
}
.event:hover .event--date {
  background: #fff;
  color: #000;
}

.event:hover .event--date span:nth-child(2) {
  color: #2f3691;
}
.event:hover .event--content {
  background: #2f3691;
  color: #fff;
}

.event:hover .event--img img {
  transform: scale(1.2);
}

.event--date {
  background: #2f3691;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 15px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  position: relative;
  transition: 0.35s;
}
.event--date::after {
  content: "";
  height: 1px;
  width: 100%;
  background: var(--dark-clr);
  position: absolute;
  bottom: 0;
  left: 0;
}
.event--date span + span {
  margin-left: 5px;
}
.event--date span:nth-child(2) {
  font-weight: 500;
  font-size: 1.375rem;
  color: var(--dark-clr);
  order: -1;
  margin-right: 5px;
  margin-left: 0;
}
.event--date span:nth-child(3) {
  margin-right: 12px;
}
.event--date span:nth-child(4) {
  margin-left: 0;
}
.event--date span:nth-child(4)::before {
  content: "\f041";
  font-family: "FontAwesome";
  padding-right: 4px;
  color: var(--secondary-clr);
}
.event--img {
  display: block;
  width: 100%;
  height: 154px;
  overflow: hidden;
  transition: 0.3s ease;
}
.event--img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
}
.event--content {
  padding: 15px;
  text-align: left;
  background: #f1f6ff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  transition: 0.35s;
  position: relative;
}
.event--content > * {
  margin: 0;
  margin-bottom: 10px;
}
.event--content > *:last-child {
  margin-bottom: 0;
}

.event--content h2 {
  font-weight: 500;
  font-size: 1.375rem;
  letter-spacing: -0.12px;
}
.event--content a {
  color: inherit;
}
.event--content a:hover {
  color: var(--primary-clr);
}
.event--content h2 > a[href]::after {
  padding: 0 3px 0 6px;
  font-weight: normal;
  font-size: 0.7em;
}
.event--content h2.canceled,
.event--content-canceled {
  color: var(--secondary-clr);
}
.event--content-info {
  line-height: 1.6;
  display: flex;
  flex-wrap: wrap;
}
.event--content-info > div {
  margin-right: 16px;
}
.event--content-tickets a {
  background: var(--primary-clr);
  color: #eaeaea;
  padding: 3px 11px;
  border-radius: 3px;
}
.event--content-tickets a:hover {
  background: var(--bg-clr);
}
.event--content-ensemble {
  font-weight: 500;
  margin-top: auto;
}
.event--content-program {
  margin-top: 6px;
}
.event--content-program a {
  display: inline-block;
  background: #eaeaea;
  padding: 6px 13px;
  border-radius: 15px;
}

@media (min-width: 801px) {
  .event {
    max-width: 100%;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 20px;
  }
  .event--date {
    flex-direction: column;
    align-items: center;
    flex-basis: 148px;
    text-align: center;
    font-size: 0.84rem;
    line-height: 1;
    padding: 15px 5px;
  }
  .event--date::after {
    height: 100%;
    width: 1px;
    top: 0;
  }
  .event--date span + span {
    margin: 0;
    margin-top: 2px;
  }
  .event--date span:nth-child(2) {
    order: 0;
    margin-right: 0;
    font-size: 3rem;
  }
  .event--date span.date-md {
    font-size: 2.35rem;
  }
  .event--date span.date-sm {
    font-size: 1.625rem;
  }
  .event--date span:nth-child(3) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .event--date span:nth-child(4) {
    margin-top: auto;
  }
  .event--img {
    order: 1;
    margin-left: 15px;
    width: 100px;
    height: auto;
    max-height: 200px;
    max-height: max-content;
    display: flex;
  }
  .event--img a {
    display: flex;
  }
  .event--content {
    flex: 2 0 0;
    padding: 15px 20px;
  }
  .event--content > *:not(.event--content-social) {
    max-width: 96%;
  }
  .event--content h2 {
    font-size: 1.5rem;
  }
  .event--content-social {
    position: absolute;
    top: 0;
    right: 15px;
    margin-top: 0;
    height: 100%;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
  }
  .event:hover .event--content-social {
    right: 0;
  }
  .event--content-social a {
    margin: 8px 0;
    width: 34px;
    height: 34px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .eventWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .event {
    width: 48%;
    margin-bottom: 35px;
  }
  .event--img {
    height: 140px;
  }
}

@media (max-width: 599px) {
  .event {
    margin: 0 auto 35px;
  }
}
.detail-event {
  color: #fff;
}
.list-inline-item {
  background: #fff;
  color: #000;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.list-inline-item i {
  font-size: 40px !important;
}

.gallery-container {
  position: relative;
  width: 100%;
  border-width: 7px;
  border-color: transparent;
  border-style: solid;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.galery .image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2f3691;
  color: #fff;
  overflow: hidden;
  width: 100%;
  height: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.3s ease;
}

.gallery-container:hover .overlay {
  height: 70px;
}

.galery .text {
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}
.galery .small {
  font-size: 13px;
  color: #eaeaea;
}

.galery .border {
  display: inline-block;
  position: relative;
}
.galery .border::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: inset 0 0 0 0 rgba(255, 255, 255, 0.5);
  transition: box-shadow 0.1s ease;
  cursor: pointer;
}
.galery .border:hover::after {
  box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.5);
}
.galery img {
  display: block;
  position: relative;
}

#footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(
      45deg,
      rgba(180, 35, 35, 0.9) 0%,
      rgba(33, 57, 164, 0.9) 100%
    ),
    url("../images/footer-bg.jpg") center center no-repeat;
  background-size: cover;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  position: relative;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #fff;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #fff;
}

#footer .copyright-wrap {
  border-top: 1px solid #fff;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
}
.card-bg {
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(
      45deg,
      rgba(180, 35, 35, 0.9) 0%,
      rgba(164, 33, 33, 0.9) 100%
    ),
    url("../images/hero-bg.jpg") center center no-repeat;
  background-size: cover;
}
.breadcrumbs {
  padding: 15px 0;
  background: #f2f6f9;
  min-height: 40px;
  margin-top: 95px !important;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 66px !important;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c6387;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs {
    padding-top: 60px !important;
}
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

.detail .card {
  background-color: #2b303d;
  color: #fff;
}

.detail .labell {
  /* color: #16df7e; */
  font-weight: 600;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #272b36;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
.testimonial a {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
}
.testimonial i {
  color: #2f3691;
  font-size: 50px;
}
.testimonial h5 {
  font-family: "Raleway", sans-serif;
}
.testimonial img {
  width: 100%;
  height: 300px;
}
.testimonial .card {
  transition: all ease-in-out 0.3s;
  height: 300px;
}
.testimonial .card-content {
  height: 140px;
  overflow: hidden;
}

.testimonial .card-footer {
  padding: 0px !important;
  position: absolute;
  bottom: 20px;
  border: none !important;
}
@media (max-width: 768px) {
  .testimonial img {
    width: 100%;
    height: auto !important;
  }
  .testimonial .card {
    height: auto !important;
    padding: 20px;
  }
  .testimonial .card-content {
    height: auto !important;
    overflow: hidden;
    padding-bottom: 40px;
  }
  .testimonial .card-footer {
    position: absolute;
    bottom: 10px !important;
  }
}
.testimonial .card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  cursor: pointer;
}
.testimoni-text {
  font-size: 18px;
  font-weight: 300;
  color: #0f85b3;
}
.testimoni-text:hover {
  font-size: 18px;
  font-weight: 300;
  color: #0d6a8f;
}
