.modal {
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.modal-body {
  background-color: #eee !important;
}
.modal-header {
  padding: 20px !important;
  background-color: #3a74a7 !important;
}
.modal-title {
  color: #fff !important;
  padding: 20px !important;
}
.modal-footer {
  background-color: #3a74a7 !important;
}
.modal-header > .btn-close {
  border: 0;
  font-size: 20px !important;
  width: 40px;
  background: transparent !important;
}
.modal-header > .close:hover {
  border: 2px solid #fff !important;
  color: #fff !important;
}
.text-shadow {
  text-shadow: 2px 2px #696666;
}

.text-shadow-sm {
  text-shadow: 1px 1px #696666;
}
.text-shadow-lg {
  text-shadow: 5px 5px #696666;
}

.text-italic {
  font-style: italic;
}
.text-bold {
  font-style: bold;
}
